<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Register</title>
</head>
<section layout:fragment="body">
  <div class="laptop">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="titlepage">
            <p>Hey? What are you doing here? You don't have permission!</p>
            <a class="read_more" href="/">Home</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="laptop_box">
            <figure><img src="../../images/oops.gif" alt="OOPS"/></figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</html>