<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Register</title>
</head>
<section layout:fragment="body">

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <section>
                    <h1>Welcome to Student Clubs Platform!</h1>

                    <h2>About Us</h2>
                    <p>
                        We believe in the power of student-driven initiatives, creativity, and collaboration.
                        Our Student Clubs Platform serves as a vibrant hub for various student clubs, bringing together like-minded individuals
                        who are passionate about diverse interests, hobbies, and causes.
                    </p>

                    <h2>What We Offer</h2>
                    <ul>
                        <li>
                            <h3>Discover and Join Clubs</h3>
                            <p>Explore a wide range of student-led clubs catering to various interests and activities.
                                From academic pursuits to cultural exploration, community service, and beyond, there's a club for everyone.
                                Browse through our platform to discover clubs that align with your passions.
                            </p>
                        </li>
                        <li>
                            <h3>Start Your Own Club</h3>
                            <p>Do you have a unique interest or a cause close to your heart?
                                Our platform provides you with the tools and support to start your own student club.
                                Connect with fellow students who share your enthusiasm and make a lasting impact on campus.
                            </p>
                        </li>
                        <li>
                            <h3>Stay Informed</h3>
                            <p>Our website keeps you informed about upcoming club events, meetings, and interesting articles.
                                Stay connected with club members, share updates, and contribute to the vibrant student life.
                            </p>
                        </li>
                        <li>
                            <h3>Connect and Collaborate</h3>
                            <p>Forge connections with fellow students who share your interests.
                                The platform encourages collaboration between clubs, fostering a sense of community and unity across diverse student organizations.
                            </p>
                        </li>
                    </ul>

                    <h2>How It Works</h2>
                    <ol>
                        <li><strong>Explore Clubs:</strong> Browse through our directory of student clubs to find the ones that match your interests.</li>
                        <li><strong>Start a Club:</strong> Have a passion that doesn't have a club yet? Start your own! Gather like-minded individuals and create a community around your shared interests.</li>
                        <li><strong>Stay Updated:</strong> Receive invitation about club meetings, events, and activities. Stay engaged and make the most of your student experience.</li>
                        <li><strong>Stay Informed:</strong> Read interesting articles from other students like you.</li>

                    </ol>

                    <h2>Join the Community</h2>
                    <p>
                        Whether you're an incoming freshman or a seasoned senior, the Student Clubs Platform is your gateway
                        to an enriching and fulfilling university experience.
                        Join us in celebrating diversity, fostering creativity, and building connections that last a lifetime.
                    </p>

                    <p>Ready to get started? Explore, connect, and make a difference with Student Clubs Platform!</p>
                </section>

               </div>
        </div>
    </div>

</section>
</html>