<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Club List</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Find Clubs</h1>
            </div>
            <div class="row gx-5">
                <div>
                    <form th:action="@{/clubs/search}" class="form-inline my-2 my-lg-0 mb-3 ">
                        <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search here clubs" aria-label="Search">
                    </form>
                </div>

                <div class="row row-cols-1 row-cols-md-2 g-4">
                <div th:each="club : ${clubs}" class="card mb-4">
                    <div class="card-body">
                        <img class="card-img-top rounded-3 mb-3 " th:src="${club?.photoUrl}" alt="..." />
                        <h2 th:text="${club?.title}" class="card-title h4" ></h2>

                    <a class="btn btn-primary" th:href="@{/clubs/{clubId}/(clubId=${club?.id})}">View</a>
                    <a th:if="${user?.id} == ${club?.createdBy?.id}"
                       class="btn btn-primary" th:href="@{/clubs/{clubId}/edit(clubId=${club?.id})}">Edit</a>
                </div>
                </div>
                </div>

            </div>
        </div>
    </section>

</main>

</body>
</html>
