<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>User List</title>
</head>
<section layout:fragment="body">
    <div class="m-5 justify-content-start">

    <h1>User List</h1>
    <table class="table align-items-center table-bordered border-4 table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
            <th scope="col">Active</th>
        </tr>
        </thead>
        <tbody id="userList"></tbody>
    </table>

        <a class="btn btn-primary " type="submit" th:href="@{/admin/users}">Edit Users</a>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetchUsers();
        });

        function fetchUsers() {
            fetch('/api/users')
                .then(response => response.json())
                .then(data => displayUsers(data))
                .catch(error => console.error('Error fetching users:', error));
        }

        function displayUsers(users) {
            const userList = document.getElementById('userList');
            userList.innerHTML = '';  // Clear previous content

            users.forEach(user => {
                const row = document.createElement('tr');
                row.innerHTML = `
                <td>${user.id}</td>
                <td>${user.username}</td>
                <td>${user.email}</td>
                <td>
                    <ul>
                        ${user.roles.map(role => `<li>${role.name}</li>`).join('')}
                    </ul>
                </td>
                <td>${user.active ? 'Yes' : 'No'}</td>
            `;
                userList.appendChild(row);
            });
        }
    </script>
    </div>
</section>
</html>